@use "../abstract/mixins" as mixins;
@use "../abstract/colors" as colors;

header {
  height: 100px;
  width: 100%;
  @include mixins.flexCenter();
  padding-left: 30px;
  padding-right: 30px;
  background-color: colors.$primary-color;

  .logo {
    flex-grow: 1;
  }

  @include mixins.anchorDesign();

  .nav-bar {
    @include mixins.flexCenter();
    gap: 8px;
  }
}
